{% load static %}
{% include 'partials/_parallaxcss.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>


/*********footer*******************/
.kilimanjaro_area {
    position: relative;
    z-index: 1;
	}
	.foo_top_header_one {
    background-color: #341d5b ;
    color: #fff;
}
.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}
.foo_top_header_one {
    color: #fff;
}.kilimanjaro_part {
    margin-bottom: 30px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}
.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255,255,255,.5);
}
p, ul li, ol li {
    font-weight: 300;
}
ul {
    margin: 0;
    padding: 0;
}
.kilimanjaro_bottom_header_one {
    background-color:#341d5b ;
}
.section_padding_50 {
    padding: 50px 0;
}
.kilimanjaro_bottom_header_one p {
    color: #ffc107;
    margin: 0;
}
p, ul li, ol li {
    font-weight: 300;
}
.kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}
a, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.m-top-15 {
    margin-top: 15px;
}
ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_widget > li {
    display: inline-block;
}
p, ul li, ol li {
    font-weight: 300;
}
ol li, ul li {
    list-style: outside none none;
}
.kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
}
ul {
    margin: 0;
    padding: 0;
}
.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255,255,255,.5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.kilimanjaro_links a {
    color: rgba(255,255,255,.5);
    font-size: 13px;
}
top-15 {
    margin-top: 15px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}
.kilimanjaro_social_links > li {
    display: inline-block;
}
p, ul li, ol li {
    font-weight: 300;
}
.kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
}
.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}
.kilimanjaro_blog_area > p {
    color: rgba(255,255,255,.5);
    line-height: 1.3;
    margin-bottom: 0;
}
.kilimanjaro_works > a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333333%;
    z-index: 1;
}
.kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}
.kilimanjaro_links a i {
    padding-right: 10px;
}
  /* :: 18.0 Footer Area CSS */

    .footer_area {
        position: relative;
        z-index: 1;
    }
 .footer_bottom p > i,
    .footer_bottom p > a:hover {
        color: #27ae60;
    }	

    .social_links_area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 50px 0 30px 0;
        text-align: center;
        position: relative;
        z-index: 1;
    }
 .social_links_area > a:hover {
        color: #27ae60;
    }

    .inline-style .social_links_area > a:hover {
        background-color: transparent;
        color: #27ae60;
        border: 0px solid transparent;
    }
 .single_feature:hover .feature_text h4 {
        color: #27ae60;
    }
.kilimanjaro_blog_area {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}
.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255,255,255,.5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

</style>

        <!--footer-->
<footer class="kilimanjaro_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>About Us</h5>
                            <p>Jamii Sokomax empowers its clients to grow through innovative High-Tech solutions aimed at your growth, success and profit.</p><br>
                            <p>What makes us diffrent we do not sell we connect. Do not hestitate to give us a call tell us what is in your mind. If it's about  us, you will definately get a good answer. If it's about you we will definately listen</p>
                        </div>
                        <div class="kilimanjaro_part m-top-15">
                            <!----><h5>Social Links</h5>
                            <ul class="kilimanjaro_social_links">
                                <li><a href="#"><i class="fa fa-facebook w3-text-amber" aria-hidden="true"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter w3-text-amber" aria-hidden="true"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-pinterest w3-text-amber" aria-hidden="true"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fa fa-youtube w3-text-amber" aria-hidden="true"></i> YouTube</a></li>
                                <li><a href="#"><i class="fa fa-linkedin w3-text-amber" aria-hidden="true"></i> Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Areas of Interest</h5>
                            <ul class=" kilimanjaro_widget">
                                <li><a href="/listings">Plot For Sale</a></li>
                                <li><a href="/houses">Houses $ Sale</a></li>
                                <li><a href="/realtors">Realtors</a></li>
                                <!--<li><a href="#">Realtors/Agents</a></li>-->
                                <li><a href="/companies">Property Companies</a></li>

                            </ul>
                        </div>

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Important Links</h5>
                            <ul class="kilimanjaro_links">
                                <li><a href="{% url 'blog-home' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>Blog</a></li>
                                <li><a href="{% url 'about' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>About</a></li>
                               <!-- <li><a href="{% url 'comingsoon' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>Pricing</a></li>
                                <li><a href="{% url 'comingsoon' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>Terms & Conditions</a></li>
                                <li><a href="{% url 'comingsoon' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>Privacy Policy</a></li>
                                <li><a href="{% url 'comingsoon' %}"><i class="fa fa-angle-right w3-text-amber" aria-hidden="true"></i>FAQ</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Latest News</h5>
                            {% for post in posts %}
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="{{ post.photo_blog.url }}" alt="">

                                </div>
                                <a href="#">{{ post.title }}</a>
                                <p class="kilimanjaro_date">{{ post.date_posted|date:"F d, Y" }}</p>
                                <p>{{ post.content|slice:"50"|safe }}</p>
                            </div>
                            {% endfor %}
                            

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Quick Contact</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Phone:</h5>
                                <p>+254 0775 291 299 <br> +254 0708 076 438</p>
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Email:</h5>
                                <p>support@webblogoverflow.com <br> luckmoshy@gmail.com</p>
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                    <h5>Address:</h5>
                                    <p>P.O Box 1404, 00232 <br>
                                       Ruiru, Kenya

                                    </p>
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                    <h5>Offices:</h5>
                                    <p>Biashara House<br>
                                       Ruiru Bus Stage<br>
                                       2nd floor 
                                       rm 14

                                    </p>
                            </div>
                        </div>
                        <div class="kilimanjaro_part">
                            <!--<h5>Latest Works</h5>-->
                           <!--<div class="kilimanjaro_works">
                                <a class="kilimanjaro_works_img" href="img/gallery/1.jpg"><img src="img/gallery/1.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/4.jpg"><img src="img/gallery/4.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/5.jpg"><img src="img/gallery/5.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/7.jpg"><img src="img/gallery/7.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/10.jpg"><img src="img/gallery/10.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/11.jpg"><img src="img/gallery/11.jpg" alt=""></a>
                            </div>--> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center  parallax ">
            <div class="container">
                <div class="row">
                    <div class="col-12 w3-amber  w3-card-4  w3-panel w3-padding w3-opacity-min ">
                        <p class="w3-wide w3-text-black"><b>© All Rights Reserved by <a href="#">Villa Care<i class="fa fa-love"></i></a></b></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Footer 
<style>
        a {
          text-decoration:none;
        }
        </style>
         
        <footer class="section footer-classic w3-padding context-dark bg-image" style="background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);" >
                <div class="container">
                  {% for footer in footers %}
                  <div class="row row-30">
                    <div class="col-md-4 col-xl-5 ">
                      <div class="pr-xl-4"><a class="brand  w3-padding w3-margin-top w3-border-white w3-hover-white " href="/" style="text-decoration:none;">
                    
                        {% if topbars %}
                        {% for topbar in topbars %}
                              <span class="w3-container w3-left  w3-hide-small">
                              
                                    <a href="{% url 'index'%}"> <img src="{{ topbar.logo.url }}" class="w3-bar-item w3-circle w3-margin-top " style="width:100px; height:100px;"></a>
                              </span>
                        {% endfor %}
                        {% endif %}
                    
                      
                      </a>
                        <p> {{ footer.description|safe }}
                        <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>GLC</span><span>. </span><span>All Rights Reserved.</span></p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h5>Contacts</h5>
                      <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>{{ footer.address|safe }}</dd>
                      </dl>
                      <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#" class="w3-button" style="text-decoration:none;">{{ footer.email }}</a></dd>
                      </dl>
                      <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd><a href="tel:#" class="w3-button" style="text-decoration:none;" >{{ footer.phone1 }}</a> <span>or</span> <a href="tel:#" class="w3-button" style="text-decoration:none;">{{ footer.phone2 }}</a>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-4 col-xl-3">
                      <h5>Links</h5>
                     {% if user.is_staff %}     
                        <span><a href="https://www.greaterlifeconcern.org/"style="text-decoration:none;">Home</a></span> /
                        <span><a href="/mobile" style="text-decoration:none;">Mobile</a></span> /
                        <span><a href="/tablet" style="text-decoration:none;">Tablet</a></span> /
                        <span><a href="/laptop" style="text-decoration:none;">Laptop</a></span>
                      {% endif %} 
                      <ul class="nav-list" style="text-decoration: none;">
                        {% if user.is_staff %}
                        <li><a href="{% url 'register' %}" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-user-plus  w3-text-theme-l4"></i> SIGNUP</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="/profile" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-user-circle-o w3-text- w3-text-white"></i> PROFILE</a></li>
                        {% endif %}
                        <li><a href="/gallery" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-th w3-text-white"></i> GALLERY</a></li>
                        <li><a href="/team" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-users w3-text-white"></i> TEAM</a></li>
                        <li><a href="#home" class="w3-button w3-round-large w3-highway-red" style="text-decoration:none;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
                        </li>
                     
                      </ul>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% for footer in footers %}
                <div class="row no-gutters  social-container w3-section">
                  <div class="col"><a class="social-inner w3-hover-white" href="{{ footer.facebook }}" style="text-decoration:none;"><span class="fa fa-facebook w3-xxlarge w3-text-blue"></span><span>Facebook</span></a></div>
                  <div class="col"><a class="social-inner w3-hover-white" href="{{ footer.instagram }}" style="text-decoration:none;"><span class="fa fa-instagram w3-xxlarge w3-text-amber"></span><span>Instagram</span></a></div>
                  <div class="col"><a class="social-inner w3-hover-white" href="{{ footer.twitter }}" style="text-decoration:none;"><span class="fa fa-twitter w3-xxlarge w3-text-light-blue"></span><span>Twitter</span></a></div>
                  <div class="col"><a class="social-inner w3-hover-white" href="{{ footer.linkedin }}" style="text-decoration:none;"><span class="fa fa-linkedin w3-xxlarge w3-text-black"></span><span>Linkedin</span></a></div>
                  <div class="col"><a class="social-inner w3-hover-white" href="{{ footer.youtube }}" style="text-decoration:none;"><span class="fa fa-youtube w3-xxlarge w3-text-red"></span><span>YOUTUBE</span></a></div>
                </div>
             {% endfor %}
              </footer>-->