{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} | Home {% endblock %}

{% block content %}


<!-- !PAGE CONTENT! -->
<div class="w3-main  " >
       
<!-- Page content -->
<br><br>
<div class="w3-content w3-padding-large  w3-margin-bottom   " style="max-width:1564px">

        <!-- Project Section -->
        <div class="w3-container w3-padding w3-card-4 " id="projects">
          <h3 class="w3-border-bottom   w3-border-amber  w3-padding-16 w3-bottombar ">
            Kwela Construction Linked
          </h3>
          <span class="  w3-center">
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'listings' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Plots For Sale</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'comingsoon' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Houses For Sale & Rent</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4 "><a href="{% url 'fundis' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Construction WorkForce</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'hardwares' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Hardwares</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'womens' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Ballast Women</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'msuppliers' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Materials Suppliers</a></span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'trucks' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Trucks & Pickups</a></span>
          </span>
          <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-amber w3-padding w3-card-4"><a href="{% url 'comingsoon' %}" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Machines & Equipments</a></span>
        </span>
        </div>

        <br><br>
        <div class="w3-card-4">
        <div class="w3-row-padding">
          <br><br>
          
           
            {% for link in links %}
            <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container w3-card-4">
            <a href="/{{link.link_url}}">
              <div class="w3-display-topleft w3-card-4 w3-btn w3-theme-d5  w3-padding">
                {{ link.link_name}}
              </div>
              <img src="{{ link.link_pic.url }}" class="w3-border w3-card-4 w3-padding " alt="House" style="width:100%; height:270px;">
            </a>
            </div>
          </div>
          {% endfor %}
          
        </div>

      
       
  
        </div>
        <br><br>
      </div>
        
  </div>
  <br><br><br><br>
 


{% endblock %}