<!-- Top Bar -->
{% load static %}

<!-- Overlay effect when opening sidebar on small screens -->



<section id="top-bar" class="p-3  w3-padding ">
    <div class="container">
        
        <a href="{% url 'index' %}">
        <div></div>
          <span class="w3-right w3-center w3-large w3-theme-d5 btn btn-outline-light "><strong><span class="w3-theme-d5 w3-border w3-padding w3-theme-d5 w3-text-white">  VILLA CARE </span></strong></span>
        </div>
        </a>
      <div class="row w3-large">
        <div class="col-md-4">
            <i class="fas fa-comment w3-text-green w3-hide">Panda Nasi</i> 
        </div>
        <div class="col-md-4">
            <i class="fas fa-phone w3-text-green w3-hide">0775 291 299</i> 
        </div>
        <div class="col-md-4 w3-hide">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
    <br> <br> 
  </section>
