<!-- Top Bar -->
{% load static %}

<!-- Overlay effect when opening sidebar on small screens -->



<section id="top-bar" class="p-3  w3-padding ">
    <div class="container">
        
        <a href="{% url 'index' %}">
        <div>
          <span class="w3-right w3-center w3-large w3-theme-d5 btn btn-outline-light " style="color:#fff !important; background-color:#341d5b !important"><strong><span class="w3-theme-d5 w3-border w3-padding w3-theme-d5 w3-text-white btn btn-outline-light">  VILLACARE </span></strong></span>
        </div>
        </a>
   
    </div>
    <br> <br> 
  </section>


<!-- Header 
{% load static %}

<section class="w3-white">
<header class="w3-container w3-margin w3-center w3-padding-48">
{% if topbars %}
{% for topbar in topbars %}
            <span class="w3-container w3-left  w3-hide-small">    
                        <a href="{% url 'index'%}"> <img src="{{ topbar.logo.url }}" class="w3-bar-item w3-circle w3-margin-top " style="widows: 100px;height:100px;"></a>
            </span>
           

      <div class="w3-center"><h1 class="w3-xxxlarge w3-text-blue"><b>GREATER LI<span class="w3-text-black">FE CONCERN</span></b></h1></div>

   <div class="w3-center w3-hide-small"><h6 >{{ topbar.statement|safe }}</h6></div>
   {% endfor %}
   {% endif %}
   <div class="w3-container w3-center w3-hide-medium w3-hide-large ">
 
         {% if topbars %}
             {% for topbar in topbars %}
            <a href="{% url 'index'%}"> <img src="{{ topbar.logo.url }}" class="w3-bar-item w3-circle w3-margin-top " style="widows: 100px;height:100px;"></a>
      </span>
        
      
         <div class="w3-center w3-hide-large w3-hide-medium"><h6 >{{ topbar.statement|safe }}</h6></div>
             {% endfor %}
         {% endif %}
      </div>
  


</header>
</section>-->