{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} | Lamu {% endblock %}

{% block content %}
<!-- sidebar-->



<!-- Top Bar -->

<!-- Header -->

<!--<header class="w3-display-container   w3-padding-large" style="max-width:100%">
    <img class="w3-image" src="https://timbuktutravel.imgix.net/regions/kodak_images/000/000/100/original/dhow-lamu-kenya-timbuktu-travel.jpg?w=900&h=599&auto=format&crop=fit&fit=min&dpr=1&q=50" alt="Magical Lamu Beutiful Pic" width="100%" height="400">
    <div class="w3-display-middle w3-2019-princess-blue w3-opacity-min w3-padding-large w3-border w3-wide w3-text-light-grey  w3-center">
      <h1 class="w3-xxxlarge">Plots of Land Lamu</h1>
      <h5 class="w3-large" style="white-space:nowrap">Be Part of Magical Lamu</h5>
      <h3 class="w3-xlarge">ROI in 5 Year</h3>
    </div>
  </header>
<div class="w3-main" style="margin-left:340px;margin-right:40px"></div>-->
<!-- Header -->
{% include 'partials/_lamumobile.html' %}

<div class="w3-container w3-content w3-hide-small w3-twothirds " style="margin-top:80px;">
    <div class=" w3-margin">
    <div class="w3-light-grey w3-card-4" >
    <h1 class="w3-text-black w3-center w3-jumbo">Why <span class="w3-text-red">Investing In Lamu </span> is The Best Deal</h1>
    <ol class=" w3-large ">
      <li><strong class="w3-text-red"> Lapsett</strong>: The Lapsett is the key reason we are even talking about Lamu 
        <ul>
          <li>The Lapsett is the biggest Investment by Kenya Goverment aimed at employing 450,000 people. </li>
          <li>This number of people create market for Housing in future, schools, hosptials, and all other service industry provisions.</li>
          <li>The Lapsett Project is 40% done with three berths already built.</li>
          <li>The director of the Lapsett Project Mr. Silvester Kasuku projects the Lapsett building in Lamu to be complet by 2020. [one year remains]</li>
        </ul>
      </li>
       <p></p>
      <li><strong>Lamu County Govement</strong>: The Lamu county goverment growth stategy include pulling as many investors to itself as possible.The Local investor offers the best opportunity since he is not detered by local challenges.This gives Kenyans the opportunity to invest in lamu with LAND becoming our most valuable asset Today and in the future</li>
      <p></p>
      <li><strong>Land does not loose value</strong>: Land is the only investment that is garaunteed to increase value with time indefinately. You can never be wrong.</li>
      <p></p>
      <li class=""><strong>Lamu Is Beutiful</strong> : If you have ever wished you could have a piece of the coast this is your opportunity</li>
      <p></p>
      <li><strong>Tourism</strong>: With Lamu growing Tourism will definately grow this means more money, more business and more value for land</li>
      <p></p>
      <li><strong>Affordable</strong>: At the moment Lamu is open and land is affordable for the moment until the lapsett completion</li>
      <p></p>
    </ol>

   </div>
   <div class="w3-container w3-highway-green w3-opacity-min w3-card-4" style="margin-bottom:32px">  
      <div class="container  w3-padding-large  w3-margin-bottom">
          <div class="w3-panel w3-bottombar w3-border-theme">
          <div class=" w3-third w3-center">
              <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
            </div>
            <div class="w3-third w3-center">
                <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 0726 973 915
              </div>
              <div class="w3-third w3-center">
                  <i class="fas fa-phone" style="font-size:18px;color:rgb(33, 79, 233);"></i> (+254) 0743 800 497
                </div>
            </div>
            <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have much more to tell you about our properties, or just click below to view all our properties</p>
          </div>  
 
    <div class="w3-center w3-padding-32">
        <div>
          <a href="listings" class="btn w3-highway-yellow w3-border-orange w3-hover-white">View all Featured plots</a>
      
        </div>
      </div>
    <hr>   
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
      <section class="">
          <div class="w3-container w3-theme-d5 w3-opacity-min w3-margin-top w3-margin-bottom">
              <h1 class="w3-center w3-xxxlarge"><b>What you need to know about the</b> <span class="w3-text-blue"><b>Lapsett?</b></span></h1>
              <h6 class="w3-center">Lapsett<strong> Corridor</strong> Project.</h6>
              <h5 class=" w3-center w3-padding w3-margin-bottom ">by Lapsett Project Director MR. Silvester Kasuku <br> & others  </h5>
            </div>
    
    
      <div class="w3-row-padding w3-text-white w3-card-4 w3-large">
        <div class="w3-half w3-margin-bottom w3-margin-top">
          <div class="w3-display-container w3-hover-shadow">
              <iframe width="100%" height="510px" src="https://www.youtube.com/embed/zxjpRORoEmQ">
              </iframe>
            <span class="w3-display-right w3-margin  w3-padding  w3-theme-d5 w3-opacity-min ">What is Lapsett</span>
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-row-padding" style="margin:0 -16px">
             
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container w3-hover-shadow">
                  <iframe width="100%" height="245px" src="https://www.youtube.com/embed/rEMGjoox23w"
                  allowfullscreen="allowfullscreen"
                  mozallowfullscreen="mozallowfullscreen" 
                  msallowfullscreen="msallowfullscreen" 
                  oallowfullscreen="oallowfullscreen" 
                  webkitallowfullscreen="webkitallowfullscreen">
                  </iframe>
    
      
              
                <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5 w3-opacity-min w3-small">Lamu Visualization</span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container w3-hover-shadow">
                    <iframe width="100%" height="245px" src="https://www.youtube.com/embed/ROu0d3BAk_Y"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen" 
                    msallowfullscreen="msallowfullscreen" 
                    oallowfullscreen="oallowfullscreen" 
                    webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>
        
                
                  <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5 w3-opacity-min w3-small">Lamu Benefits most</span>
                </div>
              </div>
              <div class="w3-half w3-margin-bottom">
                  <div class="w3-display-container w3-hover-shadow">
                      <iframe width="100%" height="245px" src="https://www.youtube.com/embed/hMBh74lrsxQ"
                      allowfullscreen="allowfullscreen"
                      mozallowfullscreen="mozallowfullscreen" 
                      msallowfullscreen="msallowfullscreen" 
                      oallowfullscreen="oallowfullscreen" 
                      webkitallowfullscreen="webkitallowfullscreen">
                      </iframe>
                      
                  
                    <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5 w3-opacity-min w3-small">Lapsett ready by 2020</span>
                  </div>
                </div>
                <div class="w3-half w3-margin-bottom">
                    <div class="w3-display-container w3-hover-shadow">
                        
                        <iframe width="100%" height="245px" src="https://www.youtube.com/embed/QvYBCFoyak4"
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen" 
                        msallowfullscreen="msallowfullscreen" 
                        oallowfullscreen="oallowfullscreen" 
                        webkitallowfullscreen="webkitallowfullscreen">
                        </iframe>
                       
                    
                      <span class="w3-display-bottomleft w3-padding w3-margin w3-theme-d5 w3-opacity-min w3-small">View Undergoing Construction</span>
                    </div>
                  </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <section>
        <div class="w3-row-padding w3-padding-64 w3-margintop w3-large  w3-container">
            
            <div class="container w3-card-4"> 
              <div class="w3-margin-bottom w3-margin-top">
        <div class="w3-panel" style="width:100%;">
          <div class="w3-margin-bottom w3-margin-top">
              <h1 class="w3-center w3-white">Learn More <span class="w3-text-red">About Lamu</span> & The Lapsett</h1>
          <button onclick="myFunction('Demo1')" class="w3-btn  w3-block w3-white  w3-left-align"><strong>Lamu County</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo1" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <p>Lamu county occupies an area of 6,273.1 km² has a population of 101,539. The main settlers of lamu county are the Boni  somali ,  mijikenda and Kikuyus.</p>
      
             <p>The main economical activities is fishing and tourism farming is now also becoming a serious income earner including  livestock </p>
      
             <p>Lamu is the leading producer of cotton in Kenya , Trees also do very well. Fruit trees like cashew nuts, mango coconuts.</p>
              <p> Most of the land is unoccupied due to the low density in population. However it is expected, within the ongoing construction of the port and other lapsett projects , the population will grow and with it the need to produce move food to feed the people.</p>
               
               
           </div>
          </div>
          
          <button onclick="myFunction('Demo2')" class="w3-btn  w3  w3-block w3-white w3-left-align  "><strong>Lamu Port Development</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo2" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <p>In <b>1975</b> the Kenya goverment decided to construct a  new port in lamu to complement the one in mombasa.</p>
      
              <p>Lamu was choosen as a result of the sutability of lamu which has a deep natural harbour of 18m. This would see all the ocean faring vessels which cannot dock in Mombasa because of its depth docking in Lamu.</p>
      
              <p>It was not until 2012 that the goverment of Kenya took the 1st step toward its realisation. IT saw the president of South Sudan and the prime minister of Ethiopia putting a commumeration stone at the place where the port would be constructed.</p>
            
               
           </div>
          </div>
      
          <button onclick="myFunction('Demo3')" class="w3-btn  w3 w3-block w3-white w3-left-align "><strong>Lapsett Project</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo3" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <p>The whole project which is reffered to as the lapsset is expected to cost  ksh3.2 trion  it has the following components.</p>
                <ol>
                <li><h6>Lapsset Roads</h5>
                <p>Lamu south sudan Ethiopia transport corridor (Lapsset)</p>
                <p>road going all the way to juba in south sudan the other branching to Ethiopia from Isiolo throught moyale.
                </p></li>
                <li><p>Oil pipelie from south sudan through turkana to lamu </p></li>
                <li><p>Oil Refinery</p></li>
                <li><p>Coal find plant at Lamu</p></li>
                <li><p>Resort cities at L.Turkana Isiolo and lamu</p></li>
                <li><p>Two international airports at Lamu and Isiolo.</p></li> 
                <li><p>Railway line linking juba Ethiopia and Nairobi from Lamu</p></li>
                </ol>
               
           </div>
          </div>
          
          <button onclick="myFunction('Demo4')" class="w3-btn   w3  w3-block w3-white w3-left-align"><strong>Types of land in Lamu</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo4" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <ol>
                <li> <h2>Community Land</h2>
                <p>Community land is under the control of the community occupying it. It is accessed through and agreement with the said community.</p> </li>
                
                <li><h2>Community Land</h2>
                <p>Goverment (public) land is under the oversight of the county goverment.</p></li> 
                
                <li><h2>Private</h2>
                <p>All private land is the titled land.</p>
      
                <p>The goverment land around the port of Lamu is being availed to the public under what is called Hindi II settlement  scheme. To acquire land in the area, one has to be a bonifide squater  in the land which is under consideration far alination.</p> 
      
                <p>To be a bonifide squater one has to occupy the land through tiling it. But has to have been allocated the same by the chief of the area in the first place.</p>
                </li>
              </ol>
               
           </div>
          </div>
      
        
          <button onclick="myFunction('Demo5')" class="w3-btn  w3  w3-block w3-white w3-left-align"><strong>Lamu Features</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo5" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <h3>Lamu Features</h3>
              <ul>
                <li>Port 32 berths</li>
                <li>International Airport</li>
                <li>Oil Refinery</li>
                <li>Port supporting 3 countries
                  <ol>
                    <li>Kenya</li>
                    <li>Ethiopia</li>
                    <li>South Sudan</li>
                  </ol>
                </li>
              </ul>
               
           </div>
          </div>
        
          
          <button onclick="myFunction('Demo6')" class="w3-btn  w3  w3-block w3-white w3-left-align"><strong>Hindi Phases</strong><span class="w3-right w3-hover-text-red">Learn More</span></button>
          <div id="Demo6" class="w3-container w3-hide">
            <div class="w3-container w3-padding  w3-left-text">
              <h3>Feature Properties</h3>
              <ul>
                <li>Piped water in the area</li>
                <li>Power (electricity)</li>
                <li>Bondering Hindi phase I whose properties prices are in the region of 700K to 1.5m/acre</li>
                <li>Along the lappset corridor</li>
                <li>In the vicinity of the proposed Railway station</li>
                <li>Boast a commercial node</li>
              </ul>
              <h3>Hindi phase II is for those who want more than an acre this area has higher risks but also the highest return</h3>
           </div>
           
          </div>
          <button class="w3-btn w3-block w3-center w3-topbar w3-border-white w3-xxlarge  w3-border-orange"> 
            [<a href="{% url 'blog-home' %}" class="w3-wide w3-margin w3-padding  w3-xlarge w3-white" style="text-decoration:none;">Discover<span class="w3-text-red">More</span></a>]</button>
          </div>
          </div>
          </div>
          </div>
          </div>
      
          <div class="w3-container  " style="margin-bottom:32px">  
                <div class="container w3-padding-large w3-highway-green w3-opacity-min  w3-margin-bottom">
                    <div class="w3-panel w3-bottombar w3-border-theme">
                    <div class=" w3-third w3-center">
                        <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
                      </div>
                      <div class="w3-third w3-center">
                          <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 072 697 3915
                        </div>
                        <div class="w3-third w3-center">
                            <i class="fas fa-phone" style="font-size:18px;color:rgb(33, 79, 233);"></i> (+254) 0743 800 497
                          </div>
                      </div>
                      <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have much more to tell you about our properties, or just click below to view all our properties</p>
                      <div class="w3-center w3-padding-32">
                          <div>
                            <a href="listings" class="btn w3-highway-yellow w3-border-orange w3-hover-white">View all Featured plots</a>
                        
                          </div>
                        </div>
                  </div>  
           

              <hr>   
          
        </section>
        
          
      
       
          <div class="w3-container w3-padding-64 w3-margin">
            <div class="w3-panel w3-hide">
                <h1 class="w3-center w3-text-green">Frequently Asked Questions.</h1>
            <blockquote class="w3-panel   w3-leftbar w3-border-grey">
            <ul>
              <li>First Without fear of contradiction we can confidently, say the Kenya Goverment Lapsett Project in  Lamu is the biggest investement of the century. The evidence is there proving this as a fact and the action is there with already three berths complete.
              <li>Secondly the Lapsett director Mr. Silvester Kasuku assures that the Lapsett will be complete by 2020.That means we have two years before affodable land becomes unaffordable. The reason we are confident about this is; despite presently Lamu being marginally populated. The lapsett project alone employs 450,000 kenyans those translate to 450,000 households which can easily get to one million people as a result of the economic transition.This means business, hospitals, schools, housing with the latter being primary.</li>
              <li>In finality Kwela offers YOU the opportunity to own prime land with title deed, but most importantly high return land  projected to icrease value by more than 300%. The deal gets even better we offer one year installment period and as low as ksh 5000 deposit to start.</li>
            </ul>
            </blockquote>
            </div> 
          </div>
       </div>
      
        <section class="">
          <div class="w3-row-padding  w3-margin-bottom">
              <div class="w3-half w3-card-4  w3-border-white  w3-margin-bottom" style="height:570px;">
                  <h1 class=" w3-center w3-text-brown w3-border w3-card-4 w3-padding w3-margin ">Our Product Range</h1>
                <div class="w3-container w3-center w3-theme-d5 w3-opacity-min w3-large ">
                 <h1>Hindi Phase I</h1>
                 <h3>Titled Land</h3>
                 <p>700K per acre </p>
                 <p>400K per 1/2 acre</p>
                 <p>200k per 1/4 acre</p>
                 <hr class="w3-white" style="width:100%">
                 <h1>Hindi Phase II</h1>
                  <h3>Untitled Land</h3>
                  <p>150K per acre</p>
                  <p>80K per 1/2 acre</p>
                  <p>50k per 1/2 acre</p>  
                </div>
              </div>
             
              <div class="w3-half w3-margin-bottom">
                
                <div class="w3-container w3-center w3-card-4 w3-padding-64 w3-xxlarge" style="height:570px;">
                    
                    <iframe width="100%" height="270px" src="https://www.youtube.com/embed/gIHtjwDz9ZY"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen" 
                    msallowfullscreen="msallowfullscreen" 
                    oallowfullscreen="oallowfullscreen" 
                    webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>
                    <h1 class="w3-center w3-amber w3-opacity-min">Lamu To Date</h1>
                    
              </div>
            </div>
          </div>  
          <div class="w3-container " style="margin-bottom:32px">  
              <div class="container w3-highway-blue w3-card-4 w3-opacity-min w3-padding-large  w3-margin-bottom">
                  <div class="w3-panel w3-bottombar w3-border-theme">
                  <div class=" w3-third w3-center">
                      <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
                    </div>
                    <div class="w3-third w3-center">
                        <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 072 697 3915
                      </div>
                      <div class="w3-third w3-center">
                          <i class="fas fa-phone" style="font-size:18px;color:rgb(33, 79, 233);"></i> (+254) 0743 800 497
                        </div>
                    </div>
                    <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have much more to tell you about our properties, or just click below to view all our properties</p>
                   
                  <div class="w3-center w3-padding-32">
                      <div>
                        <a href="listings" class="btn w3-highway-yellow w3-border-orange w3-hover-white">View all Featured plots</a>
                    
                      </div>
                     </div>
                    </div>

            <hr>   
        </section>
      </div>

{% endblock %}