{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}
<!--parallax-->
{% include 'partials/_searchform.html' %}
<br><br><br><br>


<!-- !PAGE CONTENT! -->
<div class="w3-main w3-margin-top  ">
    <div class="container w3-padding w3-card-4 " id="projects">
        <h3 class="w3-border-bottom   w3-border-amber  w3-padding-16 w3-bottombar ">
          Areas of Interest
        </h3>
        <span class="  w3-center">
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Lamu</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Nyahururu</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4 "><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Mai Mahiu</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Ruiru</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Juja Farm</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Makuyu</a></span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Eastern Bypass</a></span>
        </span>
        <span class="btn w3-border-blue w3-highway-blue w3-opacity-min w3-margin-bottom w3-hover-white w3-padding w3-card-4"><a href="#" class="w3-text-white w3-hover-text-black" style="text-decoration-line: none;">Gikumari</a></span>
      </span>
      </div>
<!-- Top Bar -->
<br><br><br><br>

  

  <!-- First Photo Grid-->
  <div class="w3-row-padding container">
    {% if listings %}
    {% for listing in listings %}
    
        <!--overlay-->
        {% include 'partials/_listings.html' %}

    {% endfor %}
    {% else %}
      <div class="col-md-12">
        
        <p>No Plots listings Available</p>
      </div>
    {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
                <li class="page-item">
                  <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if listings.has_next %}
                <li class="page-item">
                  <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
      

    </div>
    <br><br> <br><br>


{% endblock %}